.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    height: calc(100vh - 88px);
    min-height: 400px;
    display: flex;
    align-items: center;
}

.innerWrapper {
    height: calc(100vh - 288px);
    min-height: 400px;
    overflow-y: auto;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    max-height: calc(100vh - 88px);
}

.menu {
    width: 25%;
}

.content {
    width: 70%;
}

.link {
    display: block;
    text-decoration: none;
    color: rgb(132,132,173);
    line-height: 60px;
}

.active {
    color: #fff;
}